{% extends 'base.html' %}
{% block content %}

<h2>Dashboard</h2>

<form method="get">
<input name="q" class="form-control mb-3" placeholder="Search">
</form>

<div class="card p-3 mb-3 bg-primary text-white">
Total Students: {{ students.paginator.count }}
</div>

<table class="table table-bordered">
<tr><th>Name</th><th>Email</th><th>Course</th><th>Action</th></tr>

{% for s in students %}
<tr>
<td>{{ s.name }}</td>
<td>{{ s.email }}</td>
<td>{{ s.course }}</td>
<td>
<a href="/edit/{{ s.id }}/" class="btn btn-warning btn-sm">Edit</a>
<a href="/delete/{{ s.id }}/" class="btn btn-danger btn-sm">Delete</a>
</td>
</tr>
{% endfor %}
</table>

<ul class="pagination">
{% if students.has_previous %}
<li><a href="?page={{students.previous_page_number}}">Prev</a></li>
{% endif %}
{% if students.has_next %}
<li><a href="?page={{students.next_page_number}}">Next</a></li>
{% endif %}
</ul>

{% endblock %}